@import 'components/nav.css';

/* --color-1: #f79939;
--color-2: #bc2d57;
--color-3: #225894;
--color-4: #06242e;
--color-5: #e971af; */

body {
  background-color: gray;
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-clip: padding-box;
  background-position: center;
  background-attachment: fixed;
  -webkit-backdrop-filter: blur(24px) saturate(100%) contrast(100%);
  backdrop-filter: blur(24px) saturate(100%) contrast(100%);
}

.dark body {
  background-color: rgba(17, 24, 39, 0.9);
  background-blend-mode: overlay;
}

/* Hero Section Styles */
.hero-title {
  font-family: 'Abril Fatface', serif; 
  line-height: 1.2;
  background: linear-gradient(to bottom left, #ffe4e6, #ccfbf1); 
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0 2px 4px rgba(0,0,0,0.1);
  font-weight: bold;
}
.hero-subtitle {
  font-family: 'Lato', sans-serif; 
  letter-spacing: -0.05em;
  line-height: 1.2;
  background: linear-gradient(to bottom left, #ffe4e6, #ccfbf1); 
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.hero-cta{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: #f79939; 
    text-decoration: none;
    transition: color 0.3s ease;
}